<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <div id="ProgressDots" class="progress-dots" data-progress="0">
                <div class="progress-dot"></div>
                <div class="progress-dot active"></div>
                <div class="progress-dot"></div>
            </div>

            <div class="animation-element" data-viewport="1">
                <a href="/" data-target="0">Back</a>
            </div>
        </div>
    </body>

</html>
