body {
  background-color: #eeeef0; }

.body-wrap {
  position: relative;
  margin: 50px;
  padding: 16px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 800px) {
    .body-wrap {
      margin: 50px 24px; } }
  @media screen and (max-width: 520px) {
    .body-wrap {
      margin: 50px 12px; } }

@-webkit-keyframes page-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes page-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes page-right {
  from {
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes page-right {
  from {
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes page-left {
  from {
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes page-left {
  from {
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

.main {
  overflow: hidden; }
  .main .animation-element {
    overflow: hidden; }
  .main[data-transition=page-fade] .animation-element {
    -webkit-animation: page-fade 0.1s ease-out;
    animation: page-fade 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-fade].is-exiting .animation-element {
    -webkit-animation: page-fade 0.1s ease-in;
    animation: page-fade 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-right] .animation-element {
    -webkit-animation: page-right 0.1s ease-out;
    animation: page-right 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-right].is-exiting .animation-element {
    -webkit-animation: page-left 0.1s ease-in;
    animation: page-left 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-left] .animation-element {
    -webkit-animation: page-left 0.1s ease-out;
    animation: page-left 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-left].is-exiting .animation-element {
    -webkit-animation: page-right 0.1s ease-in;
    animation: page-right 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

:focus {
  outline: none; }

.container {
  position: relative;
  margin: auto;
  padding: 0 12px; }

.container-center {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-responsive {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 520px) {
    .flex-responsive {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.flex-fill {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.fill-large,
.fill-medium,
.fill-small {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40vh; }
  .fill-large .fill-logo,
  .fill-medium .fill-logo,
  .fill-small .fill-logo {
    width: 33%;
    height: auto;
    margin-right: 5%; }
    .fill-large .fill-logo svg,
    .fill-medium .fill-logo svg,
    .fill-small .fill-logo svg {
      fill: rgba(0, 0, 0, 0.95); }
    @media screen and (max-width: 520px) {
      .fill-large .fill-logo,
      .fill-medium .fill-logo,
      .fill-small .fill-logo {
        width: 50%;
        margin-right: 0;
        margin-bottom: 2em; } }

.fill-middle-small,
.fill-small {
  width: -webkit-calc(70vw - 56px);
  width: calc(70vw - 56px);
  max-width: 600px;
  margin: auto; }
  @media screen and (max-width: 800px) {
    .fill-middle-small,
    .fill-small {
      width: 100%; } }

.fill-middle-medium,
.fill-medium {
  width: -webkit-calc(50vw - 70px);
  width: calc(50vw - 70px);
  margin: auto; }
  @media screen and (max-width: 1200px) {
    .fill-middle-medium,
    .fill-medium {
      width: -webkit-calc(70vw - 56px);
      width: calc(70vw - 56px); } }
  @media screen and (max-width: 800px) {
    .fill-middle-medium,
    .fill-medium {
      width: 100%; } }

.fill-middle-large,
.fill-large {
  width: -webkit-calc(80vw - 70px);
  width: calc(80vw - 70px);
  margin: auto; }
  @media screen and (max-width: 1200px) {
    .fill-middle-large,
    .fill-large {
      width: -webkit-calc(90vw - 56px);
      width: calc(90vw - 56px); } }
  @media screen and (max-width: 800px) {
    .fill-middle-large,
    .fill-large {
      width: 100%; } }

.fill-page {
  width: 100%;
  height: 100vh; }

.user-login {
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px 16px 6px 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 1.2em 0;
  border-radius: 0 0 1.2em 0;
  background-color: #ffffff; }

body {
  position: relative;
  color: rgba(0, 0, 0, 0.95);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: disc; }

ol,
ol li {
  margin: 0;
  padding: 0;
  list-style: decimal; }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: -webkit-calc(0.2em + 12px);
  margin-top: calc(0.2em + 12px);
  margin-bottom: -webkit-calc(0.6em + 12px);
  margin-bottom: calc(0.6em + 12px); }

h1 {
  font-size: 2.0em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em; }

h4 {
  letter-spacing: 2;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700; }

h5 {
  letter-spacing: 1;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.9em;
  font-weight: 700; }

h6 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  font-weight: 700; }

.subheading,
.heading {
  color: #34a534;
  font-family: "Noto Serif", "Times New Roman", Times, serif; }

.heading {
  margin: 0;
  padding: 28px;
  text-align: center;
  font-size: 2.0em; }
  @media screen and (max-width: 800px) {
    .heading {
      padding: 24px;
      text-align: left;
      font-size: 1.6em; } }
  @media screen and (max-width: 520px) {
    .heading {
      padding: 20px 18px;
      font-size: 1.2em; } }

.overlay-desc {
  color: rgba(255, 255, 255, 0.95); }

.heading-section {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700; }

.subheading {
  margin-bottom: 0.4em;
  font-size: 2.4em; }

.text-detail {
  margin-top: 12px;
  margin-left: 0.14em;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  font-weight: 700; }

@-webkit-keyframes button-active {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes button-active {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

button,
.button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 24px 12px;
  padding: 8px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.15s ease;
  transition: background-color 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.15s ease;
  -o-transition: box-shadow 0.15s ease, background-color 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.15s ease, background-color 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.15s ease, background-color 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.15s ease;
  text-decoration: none;
  letter-spacing: 1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  border: 1px solid #34a534;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background-color: #34a534;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.95em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  button.button-inline,
  .button.button-inline {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  button.button-right,
  .button.button-right {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: right; }
  button.button-icon,
  .button.button-icon {
    margin: 0;
    padding: 0; }
    button.button-icon ion-icon,
    .button.button-icon ion-icon {
      font-size: 2.0em; }
  button.button-next::after, button.button-back::after,
  .button.button-next::after,
  .button.button-back::after {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto;
    content: "";
    border-top: 3px solid rgba(255, 255, 255, 0.95);
    border-right: 3px solid rgba(255, 255, 255, 0.95); }
  button.button-next,
  .button.button-next {
    padding-right: 36px; }
    button.button-next::after,
    .button.button-next::after {
      right: 18px;
      -webkit-transition: right 0.15s ease;
      -o-transition: right 0.15s ease;
      transition: right 0.15s ease;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    button.button-next:hover::after, button.button-next:focus::after,
    .button.button-next:hover::after,
    .button.button-next:focus::after {
      right: 12px; }
    button.button-next:active::after,
    .button.button-next:active::after {
      right: 6px; }
  button.button-back,
  .button.button-back {
    position: absolute;
    left: 0;
    top: 0;
    margin: 26px 16px 0 0;
    padding-left: 36px; }
    button.button-back.button-left,
    .button.button-back.button-left {
      position: relative;
      float: left; }
      button.button-back.button-left + .heading,
      .button.button-back.button-left + .heading {
        text-align: left; }
    button.button-back::after,
    .button.button-back::after {
      left: 18px;
      -webkit-transition: left 0.15s ease;
      -o-transition: left 0.15s ease;
      transition: left 0.15s ease;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    button.button-back:hover::after, button.button-back:focus::after,
    .button.button-back:hover::after,
    .button.button-back:focus::after {
      left: 12px; }
    button.button-back:active::after,
    .button.button-back:active::after {
      left: 6px; }
    @media screen and (max-width: 800px) {
      button.button-back,
      .button.button-back {
        position: relative;
        float: right;
        margin: 19px 16px 0;
        padding-top: 8px;
        padding-bottom: 8px; } }
    @media screen and (max-width: 520px) {
      button.button-back,
      .button.button-back {
        margin: 12px 16px 0; } }
  button:hover, button:focus,
  .button:hover,
  .button:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    border-color: #38b138;
    background-color: #38b138;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
  button:focus,
  .button:focus {
    outline: none;
    background-color: #47c547; }
  button:active,
  .button:active {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  button.button-error,
  .button.button-error {
    border-color: #bb3030;
    background-color: #bb3030; }
    button.button-error:hover, button.button-error:focus,
    .button.button-error:hover,
    .button.button-error:focus {
      border-color: #c73333;
      background-color: #c73333; }
    button.button-error:focus,
    .button.button-error:focus {
      background-color: #d14d4d; }
  button.button-loadable,
  .button.button-loadable {
    -webkit-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease; }
    button.button-loadable.loading,
    .button.button-loadable.loading {
      opacity: 0.5; }

.flex-fill button,
.flex-fill .button {
  margin-right: 0;
  margin-left: 0; }

input[type="text"] {
  display: block;
  min-width: 100px;
  height: 2.4em;
  padding: 0 16px 1px;
  -webkit-transition: border-color 0.1s ease;
  -o-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
  color: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: #ffffff; }
  input[type="text"]:focus {
    border-color: #34a534; }
  input[type="text"]::-webkit-input-placeholder {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.95); }
  input[type="text"]::-moz-placeholder {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.95); }
  input[type="text"]:-ms-input-placeholder {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.95); }
  input[type="text"]::-ms-input-placeholder {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.95); }
  input[type="text"]::placeholder {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.95); }

.input-wide {
  width: 100%;
  margin: 1em 0; }
  .input-wide button,
  .input-wide .button {
    margin-left: 16px; }

input[type="checkbox"].checkbox-pill {
  position: absolute;
  opacity: 0; }
  input[type="checkbox"].checkbox-pill + label {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 4px 8px;
    padding: 6px 12px;
    padding-left: -webkit-calc(20px + 18px);
    padding-left: calc(20px + 18px);
    cursor: pointer;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease, background-color 0.1s ease;
    -o-transition: color 0.1s ease, border-color 0.1s ease, background-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease, background-color 0.1s ease;
    color: rgba(0, 0, 0, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em;
    background-color: #ffffff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    input[type="checkbox"].checkbox-pill + label .checkbox-icon {
      position: absolute;
      left: 12px;
      -webkit-transition: opacity 0.1s ease, -webkit-transform 0.1s ease;
      transition: opacity 0.1s ease, -webkit-transform 0.1s ease;
      -o-transition: opacity 0.1s ease, transform 0.1s ease;
      transition: opacity 0.1s ease, transform 0.1s ease;
      transition: opacity 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1;
      font-size: 20px; }
    input[type="checkbox"].checkbox-pill + label .checkbox-add {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1; }
    input[type="checkbox"].checkbox-pill + label .checkbox-checkmark {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      opacity: 0; }
  input[type="checkbox"].checkbox-pill:hover + label,
  input[type="checkbox"].checkbox-pill:focus + label {
    background-color: #f0f0f0; }
  input[type="checkbox"].checkbox-pill:active + label {
    background-color: #e0e0e0; }
  input[type="checkbox"].checkbox-pill:checked + label {
    color: rgba(255, 255, 255, 0.95);
    border-color: #34a534;
    background-color: #34a534; }
    input[type="checkbox"].checkbox-pill:checked + label .checkbox-add {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      opacity: 0; }
    input[type="checkbox"].checkbox-pill:checked + label .checkbox-checkmark {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1; }
  input[type="checkbox"].checkbox-pill:checked:hover + label {
    background-color: #38b138; }
  input[type="checkbox"].checkbox-pill:checked:focus + label,
  input[type="checkbox"].checkbox-pill:checked:active + label {
    background-color: #47c547; }
  input[type="checkbox"].checkbox-pill:first-child + label {
    margin-left: 0; }

.checkbox-container {
  display: inline-block; }

.ui-slider.ui-slider-horizontal {
  height: 12px;
  margin: 9px 0; }
  .ui-slider.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    width: 24px;
    height: 24px;
    margin-left: -12px; }

.ui-slider.ui-widget.ui-widget-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: #ffffff; }

.ui-slider .ui-slider-range-min {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: #34a534; }

.ui-slider .ui-slider-handle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: #ffffff; }
  .ui-slider .ui-slider-handle:hover, .ui-slider .ui-slider-handle:focus {
    background-color: #47c547; }
  .ui-slider .ui-slider-handle:active {
    background-color: #34a534; }

.ui-slider + label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #34a534;
  font-size: 0.8em;
  font-weight: 700; }

.slider-container {
  width: 100%;
  margin-bottom: 28px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ui-autocomplete.ui-widget-content {
  overflow: hidden;
  padding: 8px 8px;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); }
  .ui-autocomplete.ui-widget-content .ui-menu-item .ui-menu-item-wrapper {
    margin: 0;
    padding: 2px 8px;
    -webkit-transition: background-color 0.1s ease, color 0.1s ease;
    -o-transition: background-color 0.1s ease, color 0.1s ease;
    transition: background-color 0.1s ease, color 0.1s ease;
    color: rgba(0, 0, 0, 0.95);
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em; }
    .ui-autocomplete.ui-widget-content .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
      color: rgba(255, 255, 255, 0.95);
      border: none;
      background-color: #34a534; }
    .ui-autocomplete.ui-widget-content .ui-menu-item .ui-menu-item-wrapper .ui-menu-item-accent {
      font-weight: bold; }
  .ui-autocomplete.ui-widget-content.ui-autocomplete-show {
    opacity: 1; }

.message {
  margin-bottom: 8px;
  padding: 8px 16px;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  color: rgba(0, 0, 0, 0.95);
  border: 1px solid #34a534;
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: rgba(52, 165, 52, 0.1); }
  .message.message-warning {
    border-color: #bb6f30;
    background-color: rgba(187, 111, 48, 0.1); }
  .message.message-error {
    border-color: #bb3030;
    background-color: rgba(187, 48, 48, 0.1); }

@-webkit-keyframes progress-dot-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes progress-dot-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes progress-dot-border {
  from {
    border-color: rgba(0, 0, 0, 0.2); }
  to {
    border-color: #34a534; } }

@keyframes progress-dot-border {
  from {
    border-color: rgba(0, 0, 0, 0.2); }
  to {
    border-color: #34a534; } }

@-webkit-keyframes progress-dot-border-alt {
  from {
    border-color: rgba(0, 0, 0, 0.2); }
  to {
    border-color: #526db9; } }

@keyframes progress-dot-border-alt {
  from {
    border-color: rgba(0, 0, 0, 0.2); }
  to {
    border-color: #526db9; } }

@-webkit-keyframes progress-dot-right {
  from {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes progress-dot-right {
  from {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes progress-dot-left {
  from {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes progress-dot-left {
  from {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

.main {
  overflow: hidden; }
  .main .progress-dots .progress-dot.active {
    -webkit-animation: progress-dot-border 0.1s ease-out;
    animation: progress-dot-border 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main.is-exiting .progress-dots .progress-dot.active {
    -webkit-animation: progress-dot-border 0.1s ease-in;
    animation: progress-dot-border 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main .progress-dots-extra .progress-dot.active {
    -webkit-animation: progress-dot-border-alt 0.1s ease-out;
    animation: progress-dot-border-alt 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main.is-exiting .progress-dots-extra .progress-dot.active {
    -webkit-animation: progress-dot-border-alt 0.1s ease-in;
    animation: progress-dot-border-alt 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-fade] .progress-dots .progress-dot::after {
    -webkit-animation: progress-dot-fade 0.1s ease-out;
    animation: progress-dot-fade 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-fade].is-exiting .progress-dots .progress-dot::after {
    -webkit-animation: progress-dot-fade 0.1s ease-in;
    animation: progress-dot-fade 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-right] .progress-dots .progress-dot::after {
    -webkit-animation: progress-dot-left 0.1s ease-out;
    animation: progress-dot-left 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-right].is-exiting .progress-dots .progress-dot::after {
    -webkit-animation: progress-dot-right 0.1s ease-in;
    animation: progress-dot-right 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-left] .progress-dots .progress-dot::after {
    -webkit-animation: progress-dot-right 0.1s ease-out;
    animation: progress-dot-right 0.1s ease-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .main[data-transition=page-left].is-exiting .progress-dots .progress-dot::after {
    -webkit-animation: progress-dot-left 0.1s ease-in;
    animation: progress-dot-left 0.1s ease-in;
    animation-direction: reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.progress-dots {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  pointer-events: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .progress-dots .progress-dot {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    margin-right: 32px;
    -webkit-transition: border-color 0.1s ease;
    -o-transition: border-color 0.1s ease;
    transition: border-color 0.1s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
    .progress-dots .progress-dot::before {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 33px;
      height: 1px;
      margin: auto;
      content: "";
      background-color: rgba(0, 0, 0, 0.2); }
    .progress-dots .progress-dot:last-child {
      margin-right: 0; }
      .progress-dots .progress-dot:last-child::before {
        content: none; }
    .progress-dots .progress-dot::after {
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      visibility: hidden;
      content: "";
      pointer-events: none;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #34a534; }
    .progress-dots .progress-dot.active {
      border-color: #34a534; }
      .progress-dots .progress-dot.active::after {
        visibility: visible; }

.progress-dots.progress-dots-extra {
  top: 32px;
  height: 0;
  margin-top: 20px;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease, opacity 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
  opacity: 0; }
  .progress-dots.progress-dots-extra .progress-dot {
    width: 17px;
    height: 17px; }
    .progress-dots.progress-dots-extra .progress-dot::after {
      background-color: #526db9; }
    .progress-dots.progress-dots-extra .progress-dot.active {
      border-color: #526db9; }
  .progress-dots.progress-dots-extra.visible {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1; }
  .progress-dots.progress-dots-extra.progress-extra-layout {
    position: relative; }

/* KANES CSS */
select {
  display: block; }

.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.mt-30 {
  margin-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-100 {
  padding-top: 100px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-100 {
  padding-bottom: 100px; }

.text-white {
  color: rgba(255, 255, 255, 0.95); }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.relative {
  position: relative; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.generic-btn {
  display: inline-block;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
  outline: 0;
  font-weight: 500;
  line-height: 40px; }

.default-header {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px; }

.story-content h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2em; }

.story-content p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em; }

@media (max-width: 767px) {
  .story-content h1 {
    font-size: 20px; }
  .story-content p {
    font-size: 15px; } }

.overlay-area {
  position: relative;
  padding: 200px 0 60px 0;
  background: url("https://images.unsplash.com/photo-1523293915678-d126868e96f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80") no-repeat center center/cover; }

.overlay-area .overlay-content {
  position: relative;
  z-index: 2;
  text-align: center; }

.overlay-area .overlay-content a {
  display: inline-block;
  margin-bottom: 20px; }

.overlay-area .overlay-content h3 {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600; }

.overlay-area .overlay-content h4 {
  font-size: 14px;
  font-weight: 300; }

.overlay-area .overlay-content .overlay-desc {
  margin-top: 120px;
  text-align: right;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.overlay-bg,
.feature-box {
  background-color: rgba(52, 165, 52, 0.85); }

.banner-area {
  height: 100%; }

.facts-area {
  position: relative;
  background: #ffffff; }

.facts {
  text-align: center; }

.feature-box .desc {
  margin-top: 30px;
  text-align: center; }

.feature-box .desc h2 {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 18px;
  font-weight: 600; }

.feature-box .desc p {
  color: #555555; }

.feature {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #ffffff; }

a .feature {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.95); }

.white-bg {
  background: #ffffff; }

.icon {
  text-align: center;
  color: #34a534;
  font-size: 40px; }

.contact {
  display: block;
  width: 75%;
  height: 300px;
  margin: 30px 12.5%;
  padding: 30px;
  border: solid 1px #707070;
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: rgba(141, 248, 116, 0.075); }
  .contact:hover {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5); }
  .contact .name {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold; }
  .contact .number .address .about {
    text-align: left; }

.ingredient-element {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: horizontal;
  -ms-flex-direction: horizontal;
  flex-direction: horizontal;
  padding: 24px 0 24px 16px;
  -webkit-transition: border-color 0.2s ease, opacity 0.2s ease;
  -o-transition: border-color 0.2s ease, opacity 0.2s ease;
  transition: border-color 0.2s ease, opacity 0.2s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .ingredient-element:last-child {
    border-color: transparent; }
  .ingredient-element button,
  .ingredient-element .button {
    margin-left: 8px; }

.ingredients-cookware {
  margin-top: 6px;
  margin-bottom: 12px; }

@-webkit-keyframes progress-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes progress-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.progress-loading {
  padding: 1em;
  text-align: center;
  font-size: 1em; }
  .progress-loading::before {
    display: block;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    content: "";
    -webkit-animation: progress-loading 1s ease 0s infinite;
    animation: progress-loading 1s ease 0s infinite;
    border: 4px solid transparent;
    border-right-color: #34a534;
    border-left-color: #34a534;
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em; }

.recipe-row {
  margin: 16px 0;
  padding: 8px 48px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: #eff8ef; }
  .recipe-row .recipe {
    position: relative; }
    .recipe-row .recipe .recipe-info {
      margin: 12px 0 24px 12px;
      padding: 0 24px;
      border-left: 3px solid #34a534; }
      .recipe-row .recipe .recipe-info p {
        padding: 4px 0;
        color: rgba(0, 0, 0, 0.65); }
        .recipe-row .recipe .recipe-info p:first-child {
          margin-top: 0; }
        .recipe-row .recipe .recipe-info p:last-child {
          margin-bottom: 0; }
      .recipe-row .recipe .recipe-info.recipe-ingredients {
        border-color: #526db9; }
        .recipe-row .recipe .recipe-info.recipe-ingredients .ingredient-match {
          font-weight: 700; }
        .recipe-row .recipe .recipe-info.recipe-ingredients .ingredient-match-priority {
          color: #526db9;
          font-weight: 700; }
        .recipe-row .recipe .recipe-info.recipe-ingredients .ingredient-match-partial {
          color: #bb6f30;
          font-weight: 700; }
    .recipe-row .recipe .recipe-image {
      max-width: 100%;
      margin: 24px 0;
      border: none;
      -webkit-border-radius: 1.2em;
      border-radius: 1.2em; }
      @media screen and (min-width: 800px) {
        .recipe-row .recipe .recipe-image {
          float: right;
          max-width: 50%;
          margin-top: 0;
          margin-left: 24px; } }

.recipe-steps {
  margin-bottom: 12px; }
  .recipe-steps .checkbox-container {
    display: block; }
  .recipe-steps li {
    margin-bottom: 12px;
    margin-left: 36px;
    padding-left: 12px; }
