body {
  background-color: #ffffff; }

@keyframes page-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes page-right {
  from {
    transform: translateX(36px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes page-left {
  from {
    transform: translateX(-36px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.main {
  overflow: hidden; }
  .main .animation-element {
    overflow: hidden; }
  .main[data-transition=page-fade] .animation-element {
    animation: page-fade 0.15s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-fade].is-exiting .animation-element {
    animation: page-fade 0.15s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-right] .animation-element {
    animation: page-right 0.15s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-right].is-exiting .animation-element {
    animation: page-left 0.15s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-left] .animation-element {
    animation: page-left 0.15s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-left].is-exiting .animation-element {
    animation: page-right 0.15s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }

:focus {
  outline: none; }

.container-center {
  align-items: center;
  justify-content: center; }

.flex-horizontal {
  display: flex;
  flex-direction: row; }

.flex-vertical {
  display: flex;
  flex-direction: column; }

.flex-responsive {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 460px) {
    .flex-responsive {
      flex-direction: column;
      text-align: center; } }

.flex-fill {
  flex-grow: 1; }

.fill-medium {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 50vw;
  height: 40vh;
  margin: auto; }
  @media screen and (max-width: 1200px) {
    .fill-medium {
      width: 70vw; } }
  @media screen and (max-width: 800px) {
    .fill-medium {
      width: 90vw; } }
  .fill-medium img {
    height: 67%; }

.fill-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

body {
  color: rgba(0, 0, 0, 0.95);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px; }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em; }

.subheading {
  margin-bottom: 0.4em;
  color: #34a534;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 2.4em; }

button,
.button {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  margin: 24px 0;
  padding: 12px 36px 12px 24px;
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 24px;
  background-color: #34a534;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.95em; }
  button::after,
  .button::after {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto;
    content: "";
    transition: right 0.15s ease;
    transform: rotate(45deg);
    border-top: 3px solid rgba(255, 255, 255, 0.95);
    border-right: 3px solid rgba(255, 255, 255, 0.95); }
  button:hover,
  .button:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  button:hover::after, button:focus::after,
  .button:hover::after,
  .button:focus::after {
    right: 12px; }
  button:active,
  .button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.progress-dots {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 12px;
  display: flex;
  flex-direction: row;
  margin: auto;
  pointer-events: none;
  align-items: center;
  justify-content: center; }
  .progress-dots .progress-dot {
    position: relative;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    margin-right: 32px;
    transition: border-color 0.1s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: #ffffff; }
    .progress-dots .progress-dot::before {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 33px;
      height: 1px;
      margin: auto;
      content: "";
      background-color: rgba(0, 0, 0, 0.2); }
    .progress-dots .progress-dot:last-child {
      margin-right: 0; }
      .progress-dots .progress-dot:last-child::before {
        content: none; }
    .progress-dots .progress-dot::after {
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      content: "";
      transition: transform 0.1s ease-in;
      transform: scale(0);
      pointer-events: none;
      border-radius: 50%;
      background-color: #34a534; }
    .progress-dots .progress-dot.active {
      border-color: #34a534; }
      .progress-dots .progress-dot.active::after {
        transition: transform 0.1s ease-out;
        transform: none; }
