body {
  background-color: #eeeef0; }

@keyframes page-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes page-right {
  from {
    transform: translateX(16px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes page-left {
  from {
    transform: translateX(-16px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.main {
  overflow: hidden; }
  .main .animation-element {
    overflow: hidden; }
  .main[data-transition=page-fade] .animation-element {
    animation: page-fade 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-fade].is-exiting .animation-element {
    animation: page-fade 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-right] .animation-element {
    animation: page-right 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-right].is-exiting .animation-element {
    animation: page-left 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-left] .animation-element {
    animation: page-left 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-left].is-exiting .animation-element {
    animation: page-right 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }

:focus {
  outline: none; }

.container-center {
  align-items: center;
  justify-content: center; }

.flex-horizontal {
  display: flex;
  flex-direction: row; }

.flex-vertical {
  display: flex;
  flex-direction: column; }

.flex-responsive {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 460px) {
    .flex-responsive {
      flex-direction: column;
      text-align: center; } }

.flex-fill {
  flex-grow: 1; }

.fill-medium {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 50vw;
  height: 40vh;
  margin: auto; }
  @media screen and (max-width: 1200px) {
    .fill-medium {
      width: 70vw; } }
  @media screen and (max-width: 800px) {
    .fill-medium {
      width: 90vw; } }
  .fill-medium img {
    height: 67%; }

.fill-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

body {
  position: relative;
  color: rgba(0, 0, 0, 0.95);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em; }

h1 {
  font-size: 2.0em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.0em; }

h6 {
  font-size: 0.8em; }

.subheading {
  margin-bottom: 0.4em;
  color: #34a534;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 2.4em; }

button,
.button {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  margin: 24px 0;
  padding: 12px 36px 12px 24px;
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 24px;
  background-color: #34a534;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.95em; }
  button::after,
  .button::after {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto;
    content: "";
    transition: right 0.15s ease;
    transform: rotate(45deg);
    border-top: 3px solid rgba(255, 255, 255, 0.95);
    border-right: 3px solid rgba(255, 255, 255, 0.95); }
  button:hover,
  .button:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  button:hover::after, button:focus::after,
  .button:hover::after,
  .button:focus::after {
    right: 12px; }
  button:active,
  .button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

@keyframes progress-dot-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes progress-dot-border {
  from {
    border-color: rgba(0, 0, 0, 0.2); }
  to {
    border-color: #34a534; } }

@keyframes progress-dot-right {
  from {
    transform: translateX(8px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes progress-dot-left {
  from {
    transform: translateX(-8px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.main {
  overflow: hidden; }
  .main .progress-dots .progress-dot.active {
    animation: progress-dot-border 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main.is-exiting .progress-dots .progress-dot.active {
    animation: progress-dot-border 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-fade] .progress-dots .progress-dot::after {
    animation: progress-dot-fade 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-fade].is-exiting .progress-dots .progress-dot::after {
    animation: progress-dot-fade 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-right] .progress-dots .progress-dot::after {
    animation: progress-dot-left 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-right].is-exiting .progress-dots .progress-dot::after {
    animation: progress-dot-right 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }
  .main[data-transition=page-left] .progress-dots .progress-dot::after {
    animation: progress-dot-right 0.1s ease-out;
    animation-direction: normal;
    animation-fill-mode: both; }
  .main[data-transition=page-left].is-exiting .progress-dots .progress-dot::after {
    animation: progress-dot-left 0.1s ease-in;
    animation-direction: reverse;
    animation-fill-mode: both; }

.progress-dots {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 12px;
  display: flex;
  flex-direction: row;
  margin: auto;
  pointer-events: none;
  align-items: center;
  justify-content: center; }
  .progress-dots .progress-dot {
    position: relative;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    margin-right: 32px;
    transition: border-color 0.1s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
    .progress-dots .progress-dot::before {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 33px;
      height: 1px;
      margin: auto;
      content: "";
      background-color: rgba(0, 0, 0, 0.2); }
    .progress-dots .progress-dot:last-child {
      margin-right: 0; }
      .progress-dots .progress-dot:last-child::before {
        content: none; }
    .progress-dots .progress-dot::after {
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      visibility: hidden;
      content: "";
      pointer-events: none;
      border-radius: 50%;
      background-color: #34a534; }
    .progress-dots .progress-dot.active {
      border-color: #34a534; }
      .progress-dots .progress-dot.active::after {
        visibility: visible; }

/* KANES CSS */
select {
  display: block; }

.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.mt-30 {
  margin-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-100 {
  padding-top: 100px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-100 {
  padding-bottom: 100px; }

.text-white {
  color: rgba(255, 255, 255, 0.95); }

.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.relative {
  position: relative; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.generic-btn {
  display: inline-block;
  padding: 0 30px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-decoration: none;
  outline: 0;
  font-weight: 500;
  line-height: 40px; }

.default-header {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px; }

.body-wrap {
  position: relative;
  margin: 50px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); }

@media (max-width: 767px) {
  .body-wrap {
    margin: 30px; } }

@media (max-width: 575px) {
  .body-wrap {
    margin: 10px; } }

.story-content h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2em; }

.story-content p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em; }

@media (max-width: 767px) {
  .story-content h1 {
    font-size: 20px; }
  .story-content p {
    font-size: 15px; } }

.overlay-area {
  position: relative;
  padding: 200px 0 60px 0;
  background: url("https://images.unsplash.com/photo-1523293915678-d126868e96f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80") no-repeat center center/cover; }

.overlay-area .overlay-content {
  position: relative;
  z-index: 2;
  text-align: center; }

.overlay-area .overlay-content a {
  display: inline-block;
  margin-bottom: 20px; }

.overlay-area .overlay-content h3 {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600; }

.overlay-area .overlay-content h4 {
  font-size: 14px;
  font-weight: 300; }

.overlay-area .overlay-content .overlay-desc {
  margin-top: 120px;
  text-align: right;
  align-self: flex-end; }

.overlay-bg,
.feature-box {
  background: #34a534; }

.banner-area {
  height: 100%; }

.facts-area {
  position: relative;
  background: #ffffff; }

.facts {
  text-align: center; }

.feature-box .desc {
  margin-top: 30px;
  text-align: center; }

.feature-box .desc h2 {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 18px;
  font-weight: 600; }

.feature-box .desc p {
  color: #555555; }

.feature {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #ffffff; }

.white-bg {
  background: #ffffff; }

.icon {
  text-align: center;
  color: #34a534;
  font-size: 40px; }
