/*KANES CSS */
body {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    position: relative
}

 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

 select {
    display: block
}


 .btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0
}

 h1,
h2,
h3
{
    color: #000;
    margin-bottom: 0;
    margin-top: 0;
}

 .h1,
.h2,
.h3 {
    margin-bottom: 0;
    margin-top: 0;
    color: #000
}



 .mt-30 {
    margin-top: 30px
}
.pt-40 {
    padding-top: 40px
}

 .pt-100 {
    padding-top: 100px
}

 .pb-40 {
    padding-bottom: 40px
}

 .pb-100 {
    padding-bottom: 100px
}

 .text-white {
    color: #fff
}

 .flex {
    display: flex
}

 .flex-wrap {
    flex-wrap: wrap
}

 .relative {
    position: relative
}

 .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}


 h1 {
    font-size: 36px
}

 h2 {
    font-size: 30px
}

 h3 {
    font-size: 24px
}

 h4 {
    font-size: 18px
}

 h5 {
    font-size: 16px
}

 h6 {
    font-size: 14px
}


 .generic-btn {
    display: inline-block;
    outline: 0;
    line-height: 40px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease 0s
}


 body {
    position: relative
}

 .default-header {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9
}



 body {
    background: #eeeef0
}

 .body-wrap {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
    margin: 50px;
    position: relative
}

 @media (max-width:767px) {
    .body-wrap {
        margin: 30px
    }
}

 @media (max-width:575px) {
    .body-wrap {
        margin: 10px
    }
}



 .story-content h1 {
    font-size: 48px;
    font-weight: 100;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px
}

 @media (max-width:767px) {
    .story-content h1 {
        font-size: 40px
    }
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}


.overlay-area{padding:200px 0 60px 0;position:relative;background:url(https://images.unsplash.com/photo-1523293915678-d126868e96f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80) no-repeat center center/cover}

.overlay-area .overlay-bg{background:rgba(88, 183, 0, 0.85)}

.overlay-area .overlay-content{text-align:center;position:relative;z-index:2}

.overlay-area .overlay-content a{display:inline-block;margin-bottom:20px}

.overlay-area .overlay-content h3{font-weight:600;font-size:18px;margin-bottom:10px;letter-spacing:2px}

.overlay-area .overlay-content h4{font-weight:300;font-size:14px}

.overlay-area .overlay-content .overlay-desc{margin-top:120px;text-align:right;align-self:flex-end}

.overlay-bg{background:rgba(88, 183, 0, 0.85)}


 .banner-area{
    height: 100%
}


 .facts-area {
    position: relative;
    background: #fff
}

.facts {
    text-align: center;
}


 .feature-box{
    background: rgba(88, 183, 0, 0.85)
}


 .feature-box .desc {
    margin-top: 30px
}

 .feature-box .desc h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2.5px
}

 .feature-box .desc p {
    color: #555
}

 .feature {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px
}



 .white-bg {
    background: #fff
}