<title>End Waste - <%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="HandheldFriendly" content="true">
<meta name="msapplication-TileColor" content="<%= theme_color %>" />
<meta name="theme-color" content="<%= theme_color %>">

<link rel="stylesheet" href="/javascript/lib/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/!style.css">

<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

<script src="/javascript/lib/ejs.min.js"></script>
<script src="/javascript/lib/jquery-3.4.0.min.js"></script>
<script src="/javascript/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/javascript/lib/jquery-ui/jquery-ui-touch-punch.min.js"></script>
<script src="/javascript/lib/jquery.smoothstate.min.js"></script>
<script src="/javascript/transitions.js"></script>

<script src="/javascript/input-slider.js"></script>

<script src="/javascript/ingredients.js"></script>
<script src="/javascript/recipe.js"></script>

<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
