<title>Recipe Builder - <%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/!style.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

<script src="javascript/jquery-3.4.0.min.js"></script>
<script src="javascript/jquery.smoothstate.min.js"></script>
<script src="javascript/transitions.js"></script>

<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
