<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <div class="animation-element" data-viewport="<%= viewport %>">
                <div class="body-wrap">
                    <section class="container fill-middle-large">

                        <a class="button button-back" href="/" data-target="0">Back</a>
                        <h1 class="heading">Contact List</h1>
                    
                    </section>

                    <section>
                        <div class="container">
                            <% for (let index = 0; index < users.length; index++) { %>
                            <div class="row">
                                <div class="contact">
                                    <div class="name">
                                        <%- users[index].name; %>
                                    </div>
                                    <div class="number">
                                        Contact Number:
                                        <%- users[index].number; %>
                                    </div>
                                    <div class="address">
                                        Address:
                                    </div>
                                    <div class="about">
                                        About the organisation:
                                    </div>
                                </div>
                            </div>
                            <% }%>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
