<html>

    <head>
        <% include includes/head %>
    </head>

    <body>

        <div id="Main" class="main">
            <!--for smoothstate.js animation-->
            <% include includes/elements/progress %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <!--creates border effect-->
                <div class="body-wrap">
                    <section class="banner-area relative">
                        <div class="container">
                            <div class="container-center flex-horizontal fill-page">
                                <div class="container-center flex-responsive fill-small">
                                    <img class="fill-icon"
                                        src="https://cdn.shopify.com/s/files/1/1706/1307/products/Echinocactus-grusonii-Golden-Barrel-Cactus-Small.jpg?v=1546275616" />
                                    <div class="flex-fill">
                                        <p class="subheading">Recipe Builder</p>
                                        <p>Help minimize your food wastage by making the most of what you already have.</p>
                                        <a class="button button-next button-inline" href="ingredients" data-target="1">Add Ingredients</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="overlay-area pt-40 pb-40">
                        <div class="overlay overlay-bg"></div>
                        <div class="container">
                            <div class="overlay-content">
                                <div class="overlay-desc">
                                    <h3 class="h2 text-white text-uppercase">Helping manage Australia's waste epidemic</h3>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="facts-area pt-100 pb-100">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="story-content">

                                        <p class="mt-30">Australians discard up to 20% of the food they purchase. That equates to 1 out of every 5 bags of
                                            groceries
                                            and cost $9.6 billion dollars worth in food and drinks annually.<br><br> While we waste a
                                            significant proportion of edible food we purchase, nearly 18% of Australians were reported to
                                            have
                                            faced food insecurity in 2018. Consumer’s high
                                            cosmetic standards also lead to an estimated 20-40% of fresh product being rejected before they even reach the
                                            shelves.<br><br>
                                            Aside from contributing to food insecurity amongst low income Australians, this excessive level of food waste has a
                                            detrimental effect on our environment, since the rotting of food in landfills produce Methane, a greenhouse gas
                                            containing 25 times more carbon dioxide then what comes out of your car.<br>
                                        </p>
                                        <h1> <i>"Our mission is to help put an end to mass wastage in Australia"</i></h1>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img class="img-fluid flex mx-auto"
                                        src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/630x315/format/jpg/quality/85/http%3A%2F%2Fi.huffpost.com%2Fgen%2F4160780%2Fimages%2Fn-HEALTHY-FOOD-628x314.jpg"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="feature-box pt-100 pb-100 relative">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 d-flex align-items-stretch">
                                    <div class="feature">
                                        <div class="icon">
                                            <ion-icon name="search"></ion-icon>
                                        </div>
                                        <div class="desc">
                                            <h2 class="text-uppercase">Recipe Finder</h2>
                                            <p>
                                                Have ingredients near use by or left over? Use our recipe builder to limit your wastage.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 d-flex align-items-stretch">
                                    <div class="feature">
                                        <div class="icon">
                                            <ion-icon name="call"></ion-icon>
                                        </div>
                                        <div class="desc">
                                            <h2 class="text-uppercase">Want to donate?</h2>
                                            <p>
                                                View our contact list, full of contacts to donate food to.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="facts-area pt-100 pb-100">
                        <div class="container">
                            <div class="facts">
                                <h2>$9.6 billion</h2>
                                <p>worth of food & drinks are thrown out annually</p>
                            </div>
                            <div class="facts">
                                <h2>40%</h2>
                                <p>of food doesn't make the shelves due to Australia's high cosmetic standards</p>
                            </div>
                            <div class="facts">
                                <h2>4 million</h2>
                                <p>families have food insecurities countrywide</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>

</html>
