<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <% include includes/elements/progress %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <!--creates border effect-->
                <div class="body-wrap">
                    <a class="button button-back" href="/" data-target="0">Back</a>

                    <h1 class="heading">Ingredients</h1>

                    <div id="IngredientsLoading" class="ingredients-loading">Loading Ingredients</div>

                    <div id="IngredientsSection" style="display: none;" class="fill-middle flex-vertical">
                        <div class="flex-horizontal container-center input-wide">
                            <input id="IngredientsSearch" type="text" placeholder="Search Ingredients" class="flex-fill">
                            <div class="flex-padding"></div>
                            <button id="IngredientsButtonAdd" class="button-icon">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </div>

                        <div id="IngredientsMessageList"></div>
                        <div id="IngredientsList"></div>

                        <div class="container-center flex-horizontal">
                            <button id="IngredientsButtonFindRecipes" class="button button-next">Find Recipes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
