<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <% include includes/elements/progress %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <a href="/" data-target="0">Back</a>
            </div>
        </div>
    </body>

</html>
