<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <% include includes/elements/progress %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <!--creates border effect-->
                <div class="body-wrap">
                    <a class="button button-back" href="/" data-target="0">Back</a>

                    <h1 class="heading">Ingredients</h1>

                    <div class="fill-middle flex-vertical">
                        <div class="flex-responsive input-wide">
                            <input id="IngredientsSearch" type="text"
                                placeholder="Search Ingredients" class="flex-fill">
                            <div class="flex-padding"></div>
                            <button id="IngredientsButtonAdd">Add</button>
                        </div>

                        <div id="IngredientsList">
                        </div>
                    </div>

                    <div class="container-center flex-horizontal">
                        <button id="IngredientsButtonFindRecipes" class="button button-next"
                            data-target="2">Find Recipes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
