<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <%- include("includes/elements/progress") %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <div class="body-wrap">
                    <section class="container fill-middle-large">

                        <a class="button button-back" href="ingredients" data-target="1">Back</a>
                        <h1 class="heading">Recipe Results</h1>

                        <% if (recipes && recipes.length > 0) { %>
                        <div class="recipe-list">
                            <% for (let index = 0; index < recipes.length; ++index) { %>
                            <%- include("includes/elements/recipe", {recipe: recipes[index], index: index + 1}); %>
                            <% } %>
                        </div>
                        <% } else { %>
                        <div class="message message-error">No recipes found</div>
                        <% } %>

                    </section>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
