<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <% include includes/elements/progress %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <div class="body-wrap">
                    <section class="banner-area relative">
                        <a class="button button-back" href="ingredients" data-target="1">Back</a>

                        <h1 class="heading">Recipe Results</h1>

                        <div class="over-flow">

                            <div class="recipe-idea">
                                Recipe 1
                            </div>
                            <div class="recipe-idea">
                                Recipe 2
                            </div>
                            <div class="recipe-idea">
                                Recipe 3
                            </div>
                            <div class="recipe-idea">
                                Recipe 4
                            </div>
                            <div class="recipe-idea">
                                Recipe 5
                            </div>
                            <div class="recipe-idea">
                                Recipe 6
                            </div>
                            <div class="recipe-idea">
                                Recipe 7
                            </div>
                            <div class="recipe-idea">
                                Recipe 8
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
