<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">
            <% include includes/elements/progress %>

            <div class="animation-element" data-viewport="<%= viewport %>">
                <div class="body-wrap">
                    <section class="banner-area relative">
                        <a class="button button-back" href="ingredients" data-target="1">Back</a>

                        <h1 class="heading">Recipe Results</h1>

                        <div class="over-flow">

                            <div class="recipe-idea">
                                <div class=" left">
                                    <h5>Example Recipe 1<br></h5>
                                    <p> Time <br> Ingredient Score</p>
                                </div>
                                <div class=" right">
                                    <img src="" alt="Recipe Image">
                                </div>
                            </div>
                            <div class="recipe-idea">
                                <div class=" left">
                                    <h5>Example Recipe 2<br></h5>
                                    <p> Time <br> Ingredient Score</p>
                                </div>
                                <div class=" right">
                                    <img src="" alt="Recipe Image">
                                </div>
                            </div>
                            <div class="recipe-idea">
                                <div class=" left">
                                        <h5>Example Recipe 3<br></h5>
                                        <p> Time <br> Ingredient Score</p>
                                </div>
                                <div class=" right">
                                    <img src="" alt="Recipe Image">
                                </div>
                            </div>
                            <div class="recipe-idea">
                                <div class=" left">
                                        <h5>Example Recipe 4<br></h5>
                                        <p> Time <br> Ingredient Score</p>
                                </div>
                                <div class=" right">
                                    <img src="" alt="Recipe Image">
                                </div>
                            </div>
                            <div class="recipe-idea">
                                <div class=" left">
                                        <h5>Example Recipe 5<br></h5>
                                        <p> Time <br> Ingredient Score</p>
                                </div>
                                <div class=" right">
                                    <img src="" alt="Recipe Image">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
