<html>

    <head>
        <% include includes/head %>
    </head>

    <body>
        <div id="Main" class="main">

            <% include includes/elements/user-login %>
            <div class="relative">
                <% include includes/elements/progress %>

                <div class="animation-element" data-viewport="<%= viewport %>">
                    <div class="body-wrap">
                        <section class="container fill-middle-medium">
                            <% if (data.url_back) { %>
                            <a class="button button-back button-left" href="<%= data.url_back %>"
                                data-target="4">Back</a>
                            <% } %>

                            <h1 class="heading"><%= data.recipe.title %></h1>
                            <h3>Cleanup</h3>
                            <div id="RecipeCleanupLoadingTips" class="progress-loading">Loading cleanup tips</div>
                            <div id="RecipeCleanup" class="recipe-cleanup">
                                <% for (let i = 0; i < data.recipe.ingredients.length; ++i) { %>
                                <div class="recipe-row recipe-cleanup-item"
                                    data-ingredient="<%= data.recipe.ingredients[i].ingredient %>">
                                </div>
                                <% } %>
                            </div>

                            <h5>Contacts</h5>
                            <p>Have extra food? See who you can contact to make sure that your food doesn't go to waste.
                            </p>
                            <a href="/contacts" class="button button-inline button-next">See Contacts</a>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>

</html>
