<div class="button-pages flex-horizontal container-center">
    <% if (data.page > 1) { %>
    <button class="button button-inline button-prev recipe-button-page" data-target="<%- viewport - 1 %>" data-page="<%- data.page - 1 %>">Previous Page</button>
    <% } %>

    <% if (data.page < data.pageTotal) { %>
    <button class="button button-inline button-next recipe-button-page" data-target="<%- viewport + 1 %>" data-page="<%- data.page + 1 %>">Next Page</button>
    <% } %>
</div>