<div id="ProgressDots" class="progress-dots">
    <% for (let i = 0; i < 3; ++i) {%>
        <% if (i === viewport) { %>
            <div class="progress-dot active"></div>
        <% } else { %>
            <div class="progress-dot"></div>
        <% } %>
    <% } %>
</div>