$background-color: #eeeef0;
$foreground-color: #ffffff;
$accent-color: #34a534;
$text-color: rgba(0, 0, 0, 0.95);
$text-color-accent: rgba(255, 255, 255, 0.95);
$border-color: rgba(0, 0, 0, 0.2);

// Breakpoints
$breakpoint-large: 1200px;
$breakpoint-medium: 800px;
$breakpoint-small: 520px;
