$background-color: #eeeef0;
$foreground-color: #ffffff;
$foreground-color-hover: #f0f0f0;
$foreground-color-active: #e0e0e0;
$accent-color: #34a534; // If changed, update routes/routes-content.js
$accent-color-alt: #526db9;
$serving-color: #cf3c6d;
$text-color: rgba(0, 0, 0, 0.95);
$text-color-detail: rgba(0, 0, 0, 0.5);
$text-color-info: rgba(0, 0, 0, 0.65);
$text-color-accent: rgba(255, 255, 255, 0.95);
// Borders
$border-color: rgba(0, 0, 0, 0.2);
$border-radius: 1.2em;
$border-width: 1px;
// Message colors
$error-color: #bb3030;
$warning-color: #bb6f30;

// Breakpoints
$breakpoint-large: 1200px;
$breakpoint-medium: 800px;
$breakpoint-small: 520px;
