$button-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
$button-shadow-raised: 0 1px 2px rgba(0, 0, 0, 0.4);

@keyframes button-active {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

button,
.button {
    position: relative;

    display: flex;

    box-sizing: content-box;
    margin: 24px 0;
    padding: 8px 20px;

    cursor: pointer;
    transition: box-shadow 0.15s ease, background-color 0.1s ease, border-color 0.1s ease;
    text-decoration: none;
    letter-spacing: 1;
    text-transform: uppercase;

    color: $text-color-accent;
    border: $border-width solid $accent-color;
    border-radius: 24px;
    background-color: $accent-color;
    box-shadow: $button-shadow;

    font-size: 0.95em;

    align-items: center;
    justify-content: center;

    &.button-inline {
        display: inline-flex;
    }

    &.button-right {
        display: inline-flex;
        float: right;
    }

    &.button-icon {
        margin: 0;
        padding: 0;

        ion-icon {
            font-size: 2.0em;
        }
    }

    &.button-next,
    &.button-back {
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;

            display: inline-block;

            width: 8px;
            height: 8px;
            margin: auto;

            content: "";

            border-top: 3px solid $text-color-accent;
            border-right: 3px solid $text-color-accent;
        }
    }

    &.button-next {
        padding-right: 36px;

        &::after {
            right: 18px;

            transition: right 0.15s ease;
            transform: rotate(45deg);
        }

        &:hover,
        &:focus {
            &::after {
                right: 12px;
            }
        }

        &:active {
            &::after {
                right: 6px;
            }
        }
    }

    &.button-back {
        position: absolute;
        left: 0;
        top: 0;

        margin: 26px 16px 0 0;
        padding-left: 36px;

        &.button-left {
            position: relative;

            float: left;

            & + .heading {
                text-align: left;
            }
        }

        &::after {
            left: 18px;

            transition: left 0.15s ease;
            transform: rotate(-135deg);
        }

        &:hover,
        &:focus {
            &::after {
                left: 12px;
            }
        }

        &:active {
            &::after {
                left: 6px;
            }
        }

        @media screen and (max-width: $breakpoint-medium) {
            position: relative;

            float: right;

            margin: 19px 16px 0;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        @media screen and (max-width: $breakpoint-small) {
            margin: 12px 16px 0;
        }
    }

    &:hover,
    &:focus {
        text-decoration: none;

        color: $text-color-accent;
        border-color: lighten($accent-color, 3%);
        background-color: lighten($accent-color, 3%);
        box-shadow: $button-shadow-raised;
    }

    &:focus {
        outline: none;
        background-color: lighten($accent-color, 10%);
    }

    &:active {
        box-shadow: $button-shadow;
    }

    &.button-error {
        border-color: $error-color;
        background-color: $error-color;

        &:hover,
        &:focus {
            border-color: lighten($error-color, 3%);
            background-color: lighten($error-color, 3%);
        }

        &:focus {
            background-color: lighten($error-color, 10%);
        }
    }
}
