$button-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
$button-shadow-raised: 0 1px 4px rgba(0, 0, 0, 0.4);

button,
.button {
    position: relative;

    margin: 24px 0;
    padding: 12px 36px 12px 24px;

    cursor: pointer;
    transition: box-shadow 0.15s ease;
    text-transform: uppercase;

    color: $text-color-accent;
    border: none;
    border-radius: 24px;
    background-color: $accent-color;
    box-shadow: $button-shadow;

    font-size: 0.95em;

    &::after {
        position: absolute;
        right: 18px;
        top: 0;
        bottom: 0;

        display: inline-block;

        width: 8px;
        height: 8px;
        margin: auto;

        content: "";
        transition: right 0.15s ease;
        transform: rotate(45deg);

        border-top: 3px solid $text-color-accent;
        border-right: 3px solid $text-color-accent;
    }

    &:hover {
        box-shadow: $button-shadow-raised;
    }

    &:hover,
    &:focus {
        &::after {
            right: 12px;
        }
    }

    &:active {
        box-shadow: $button-shadow;
    }
}
