$transition-animation-duration: 0.1s;

body {
    background-color: $background-color;
}

.body-wrap {
    position: relative;

    margin: 50px;

    background-color: $foreground-color;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $breakpoint-medium) {
        margin: 50px 24px;
    }

    @media screen and (max-width: $breakpoint-small) {
        margin: 50px 12px;
    }
}

@keyframes page-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes page-right {
    from {
        transform: translateX(16px);

        opacity: 0;
    }

    to {
        transform: translateX(0px);

        opacity: 1;
    }
}

@keyframes page-left {
    from {
        transform: translateX(-16px);

        opacity: 0;
    }

    to {
        transform: translateX(0px);

        opacity: 1;
    }
}

.main {
    overflow: hidden;

    .animation-element {
        overflow: hidden;
    }

    &[data-transition=page-fade] {
        .animation-element {
            animation: page-fade $transition-animation-duration ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
        }

        &.is-exiting .animation-element {
            animation: page-fade $transition-animation-duration ease-in;
            animation-direction: reverse;
            animation-fill-mode: both;
        }
    }

    &[data-transition=page-right] {
        .animation-element {
            animation: page-right $transition-animation-duration ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
        }

        &.is-exiting .animation-element {
            animation: page-left $transition-animation-duration ease-in;
            animation-direction: reverse;
            animation-fill-mode: both;
        }
    }

    &[data-transition=page-left] {
        .animation-element {
            animation: page-left $transition-animation-duration ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
        }

        &.is-exiting .animation-element {
            animation: page-right $transition-animation-duration ease-in;
            animation-direction: reverse;
            animation-fill-mode: both;
        }
    }
}

:focus {
    outline: none;
}

.container {
    margin: auto;
    padding: 0 16px;
}

.container-center {
    position: relative;

    align-items: center;
    justify-content: center;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-responsive {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-small) {
        flex-direction: column;

        text-align: center;
    }
}

.flex-fill {
    flex-grow: 1;
}

.fill-medium,
.fill-small {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    box-sizing: border-box;
    height: 40vh;

    .fill-icon {
        width: 33%;
        height: auto;

        @media screen and (max-width: $breakpoint-small) {
            width: 67%;
        }
    }
}

.fill-small {
    width: calc(70vw - 56px);
    max-width: 600px;
    margin: auto;

    @media screen and (max-width: $breakpoint-medium) {
        width: 100%;
    }
}

.fill-middle,
.fill-medium {
    width: calc(50vw - 70px);
    margin: auto;

    @media screen and (max-width: $breakpoint-large) {
        width: calc(70vw - 56px);
    }

    @media screen and (max-width: $breakpoint-medium) {
        width: 100%;
    }
}

.fill-page {
    width: 100%;
    height: 100vh;
}
