$transition-animation-duration: 0.1s;

body {
    background-color: $background-color;
}

@keyframes page-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes page-right {
    from {
        transform: translateX(16px);

        opacity: 0;
    }

    to {
        transform: translateX(0px);

        opacity: 1;
    }
}

@keyframes page-left {
    from {
        transform: translateX(-16px);

        opacity: 0;
    }

    to {
        transform: translateX(0px);

        opacity: 1;
    }
}

.main {
    overflow: hidden;

    .animation-element {
        overflow: hidden;
    }

    &[data-transition=page-fade] {
        .animation-element {
            animation: page-fade $transition-animation-duration ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
        }

        &.is-exiting .animation-element {
            animation: page-fade $transition-animation-duration ease-in;
            animation-direction: reverse;
            animation-fill-mode: both;
        }
    }

    &[data-transition=page-right] {
        .animation-element {
            animation: page-right $transition-animation-duration ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
        }

        &.is-exiting .animation-element {
            animation: page-left $transition-animation-duration ease-in;
            animation-direction: reverse;
            animation-fill-mode: both;
        }
    }

    &[data-transition=page-left] {
        .animation-element {
            animation: page-left $transition-animation-duration ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
        }

        &.is-exiting .animation-element {
            animation: page-right $transition-animation-duration ease-in;
            animation-direction: reverse;
            animation-fill-mode: both;
        }
    }
}

:focus {
    outline: none;
}

.container-center {
    align-items: center;
    justify-content: center;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-responsive {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-small) {
        flex-direction: column;

        text-align: center;
    }
}

.flex-fill {
    flex-grow: 1;
}

.fill-medium {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    box-sizing: border-box;
    width: 50vw;
    height: 40vh;
    margin: auto;

    @media screen and (max-width: $breakpoint-large) {
        width: 70vw;
    }

    @media screen and (max-width: $breakpoint-medium) {
        width: 90vw;
    }

    img {
        height: 67%;
    }
}

.fill-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
