.ingredient-element {
    display: flex;
    flex-direction: horizontal;

    padding: 16px 0 16px 16px;

    transition: border-color 0.2s ease, opacity 0.2s ease;

    border-bottom: 1px solid $border-color;

    align-items: center;

    &:last-child {
        border-color: transparent;
    }
}
