$input-height: 2.4em;
$input-dropdown-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

input[type="text"] {
    display: block;

    height: $input-height;
    padding: 0 16px 1px;

    transition: border-color 0.1s ease;

    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $foreground-color;

    &:focus {
        border-color: $accent-color;
    }

    &::placeholder {
        opacity: 0.5;
        color: $text-color;
    }
}

.input-wide {
    width: 100%;
    margin: 1em 0;

    .flex-padding {
        flex: 1em;
        flex-grow: 0;
    }
}

.ui-widget.ui-widget-content {
    overflow: hidden;

    padding: 8px 8px;

    transition: opacity 0.2s ease;

    opacity: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $foreground-color;
    box-shadow: $input-dropdown-shadow;

    .ui-menu-item {
        .ui-menu-item-wrapper {
            margin: 0;
            padding: 2px 8px;

            transition: background-color 0.1s ease, color 0.1s ease;

            color: $text-color;
            border-radius: $border-radius;

            &.ui-state-active {
                color: $text-color-accent;
                border: none;
                background-color: $accent-color;
            }
        }
    }

    &.ui-autocomplete-show {
        opacity: 1;
    }
}
