$progress-dot-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
// Sizes
$progress-max-dots: 10;
$progress-dot-spacing: 32px;
$progress-dot-size: 23px;
// Animation
$progress-animation-duration: 0.1s;

@keyframes progress-dot-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes progress-dot-border {
    from {
        border-color: $border-color;
    }

    to {
        border-color: $accent-color;
    }
}

@keyframes progress-dot-right {
    from {
        transform: translateX(8px);

        opacity: 0;
    }

    to {
        transform: translateX(0px);

        opacity: 1;
    }
}

@keyframes progress-dot-left {
    from {
        transform: translateX(-8px);

        opacity: 0;
    }

    to {
        transform: translateX(0px);

        opacity: 1;
    }
}

.main {
    overflow: hidden;

    .progress-dots .progress-dot.active {
        animation: progress-dot-border $progress-animation-duration ease-out;
        animation-direction: normal;
        animation-fill-mode: both;
    }

    &.is-exiting .progress-dots .progress-dot.active {
        animation: progress-dot-border $progress-animation-duration ease-in;
        animation-direction: reverse;
        animation-fill-mode: both;
    }

    &[data-transition=page-fade] {
        .progress-dots .progress-dot {
            &::after {
                animation: progress-dot-fade $progress-animation-duration ease-out;
                animation-direction: normal;
                animation-fill-mode: both;
            }
        }

        &.is-exiting .progress-dots .progress-dot {
            &::after {
                animation: progress-dot-fade $progress-animation-duration ease-in;
                animation-direction: reverse;
                animation-fill-mode: both;
            }
        }
    }

    &[data-transition=page-right] {
        .progress-dots .progress-dot {
            &::after {
                animation: progress-dot-left $progress-animation-duration ease-out;
                animation-direction: normal;
                animation-fill-mode: both;
            }
        }

        &.is-exiting .progress-dots .progress-dot {
            &::after {
                animation: progress-dot-right $progress-animation-duration ease-in;
                animation-direction: reverse;
                animation-fill-mode: both;
            }
        }
    }

    &[data-transition=page-left] {
        .progress-dots .progress-dot {
            &::after {
                animation: progress-dot-right $progress-animation-duration ease-out;
                animation-direction: normal;
                animation-fill-mode: both;
            }
        }

        &.is-exiting .progress-dots .progress-dot {
            &::after {
                animation: progress-dot-left $progress-animation-duration ease-in;
                animation-direction: reverse;
                animation-fill-mode: both;
            }
        }
    }
}

.progress-dots {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 12px;

    display: flex;
    flex-direction: row;

    margin: auto;

    pointer-events: none;

    align-items: center;
    justify-content: center;

    .progress-dot {
        position: relative;

        box-sizing: border-box;
        width: $progress-dot-size;
        height: $progress-dot-size;
        margin-right: $progress-dot-spacing;

        transition: border-color 0.1s ease;

        border: 1px solid $border-color;
        border-radius: 50%;
        background-color: $foreground-color;
        box-shadow: $progress-dot-shadow;

        &::before {
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;

            width: $progress-dot-spacing + 1;
            height: 1px;
            margin: auto;

            content: "";

            background-color: $border-color;
        }

        &:last-child {
            margin-right: 0;

            &::before {
                content: none;
            }
        }

        &::after {
            position: absolute;
            left: 2px;
            right: 2px;
            top: 2px;
            bottom: 2px;

            visibility: hidden;

            content: "";
            pointer-events: none;

            border-radius: 50%;
            background-color: $accent-color;
        }

        &.active {
            border-color: $accent-color;

            &::after {
                visibility: visible;
            }
        }
    }
}
