.recipe-row {
    margin: 16px 0;
    padding: 8px 48px;

    border: $border-width solid $border-color;
    border-radius: $border-radius;
    background-color: mix($foreground-color, $accent-color, 92%);

    .recipe {
        position: relative;

        .recipe-info {
            margin: 12px 0 24px 12px;
            padding: 0 24px;

            border-left: 3px solid $accent-color;

            p {
                padding: 4px 0;

                color: $text-color-info;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.recipe-ingredients {
                border-color: $accent-color-alt;

                .ingredient-match {
                    font-weight: 700;
                }

                .ingredient-match-partial {
                    color: $warning-color;

                    font-weight: 700;
                }
            }
        }

        .recipe-image {
            max-width: 100%;
            margin: 24px 0;

            border: none;
            border-radius: $border-radius;

            @media screen and (min-width: $breakpoint-medium) {
                float: right;

                max-width: 50%;
                margin-top: 0;
                margin-left: 24px;
            }
        }

        img.thumbnail {
            max-width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.recipe-steps {
    margin-bottom: 12px;

    .checkbox-container {
        display: block;
    }

    li {
        margin-bottom: 12px;
        margin-left: 36px;
        padding-left: 12px;
    }
}
