body {
    position: relative;

    color: $text-color;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

ul,
ul li {
    margin: 0;
    padding: 0;

    list-style: disc;
}

ol,
ol li {
    margin: 0;
    padding: 0;

    list-style: decimal;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-left: -0.1em;
    padding: 0;

    text-decoration: none;

    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: calc(0.6em + 12px);
    margin-bottom: calc(0.2em + 12px);
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    letter-spacing: 2;
    text-transform: uppercase;

    font-size: 1.2em;
    font-weight: 700;
}

h5 {
    letter-spacing: 1;
    text-transform: uppercase;

    color: $text-color-info;

    font-size: 0.9em;
    font-weight: 700;
}

h6 {
    margin-top: calc(0.2em + 24px);

    text-transform: uppercase;

    color: $text-color-detail;

    font-size: 0.8em;
    font-weight: 700;
}

.subheading,
.heading {
    color: $accent-color;

    font-family: "Noto Serif", "Times New Roman", Times, serif;
}

.heading {
    margin: 0;
    padding: 28px 0;

    text-align: center;

    font-size: 2.0em;

    @media screen and (max-width: $breakpoint-medium) {
        padding: 24px 0;

        text-align: left;

        font-size: 1.6em;
    }

    @media screen and (max-width: $breakpoint-small) {
        padding: 20px 0;

        font-size: 1.2em;
    }
}

.overlay-desc {
    color: $text-color-accent;
}

.heading-section {
    margin: 0;
    padding: 0;

    text-transform: uppercase;

    font-weight: 700;
}

.subheading {
    margin-bottom: 0.4em;

    font-size: 2.4em;
}

.text-detail {
    margin-bottom: 0.6em;

    color: $text-color-detail;

    font-size: 0.75em;
    font-weight: 700;
}

.text-detail-top {
    margin-top: 1.2em;
}
